<h1>Listing businesses</h1>

<% businesses = Business.find(:all, :conditions => ['approved = ?', "yes"]) %>
<%= render :partial => 'shared/edit_business_list', :locals => {:show_approve_link => false,
                                                                :business_list => businesses} %>
<br />
<%= link_to 'New business', new_business_path %>