<p>
  <b>Offerprice:</b>
  <%=h @referal.offerprice %>
</p>

<p>
  <b>Description:</b>
  <%=h @referal.description %>
</p>


<%= link_to 'Edit', edit_referal_path(@referal) %> |
<%= link_to 'Back', referals_path %>