<b>looking to split referal bonus and make extra bucks?</b></br>

<p>start by searching for the referal program</p>

<p><u>If you want someone to refer you</u></p>
1. search for the referal program</br>
2. if you see someone who is looking to refer someone, click on 'Contact' link and let him know that you are interested </br>
3. if no one is currently refering, click on 'new request' link to post a request for someone to refer

<p><u>If you want to refer someone</u></p>
1. search for the referal program</br>
2. if you see someone who is looking for referal, click on 'Contact' link and let him know that you are interested </br>
3. if no one is looking for referal, click on 'new request' link to post a request for someone to refer

