<p>
  <b>Offerprice:</b>
  <%=h @referral.offerprice %>
</p>

<p>
  <b>Description:</b>
  <%=h @referral.description %>
</p>


<%= link_to 'Edit', edit_referral_path(@referral) %> |
<%= link_to 'Back', referrals_path %>
