<% form_tag :controller => :businesses, :action => :sendrequestemail, :id => @requestid do %>
<table>
<tr>
<td>
<label>Leave your email</label>
<%= text_field_tag :email, params[:email], :id => 'email_field', :size => 70 %>
</td>
</tr>
<tr>
<td>
<label>Leave your comment</label>
</td>
</tr>
<tr>
<td>
<%= text_area_tag :comment, params[:comment], :id => 'comment_field', :size => "100*200" %>
</td>
</tr>
<tr>
<td>
<%= submit_tag "Send" %>
</td>
</tr>
</table>
<% end %>